@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", sans-serif;
  }
  body {
    @apply bg-gray-50;
  }
}

.line {
  height: 3px;
  background: #000;
  margin-bottom: 6px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  width: 32px;
}

.single-file .filepond--root {
  width: 170px;
  margin: 0 auto;
}
.single-file .filepond--file-action-button {
  display: none;
}

.single-file .filepond--root:hover .filepond--file-action-button {
  display: block;
}

.single-file .filepond--image-preview-overlay {
  display: none;
}
