@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-slate-50;
    }
  }
  

.line {
    height: 3px;
    background: #000;
    margin-bottom: 6px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    width: 32px;
}